@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainTitleFont {
  font-family: "Great Vibes", cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(51, 51, 51);
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
}
